{{file_content}}
In the file user selected this code:
<selected_code>
  {{selected_text}}
</selected_code>

{{input}}
Any code blocks in response should be formatted in markdown.
First list the plan of test chunks to be output,
then output tests one chunk per response, and ask the user whether to continue output the next chunk.